---

- name: Storage - client - Ensure that cachefilesd is installed
  apt:
    name: cachefilesd
    state: installed

- name: Storage - client - Edit cachefilesd init.d script
  lineinfile:
    dest: /etc/init.d/cachefilesd
    regexp: "^#STARTTIME=2"
    line: "STARTTIME=2"

- name: Storage - client - Edit cachefilesd defaults
  replace:
    dest: /etc/default/cachefilesd
    regexp: "^#RUN=yes"
    replace: "RUN=yes"

- name: Storage - client - Ensure that cachefilesd is started
  service:
    name: cachefilesd
    state: started

- name: Storage filesystem - Create mountpoint
  file:
    path: "{{storage_client.mountpoint}}"
    state: directory
    mode: "{{storage_client.mode |default('0755')}}"
    owner: "{{storage_client.owner |default('nobody')}}"
    group: "{{storage_client.group |default('nogroup')}}"
  when: storage_client is defined and storage_client.mountpoint is defined

- name: Storage - client - List all storage servers
  debug: msg="{{ hostvars[item].ec2_launch_time }}"
  with_items: groups['tag_Name_storage_{{ env }}']
  register: s
  no_log: true
  when: env != "local" # TODO: fix local!
  run_once: true

- name: Storage - client - Write out age-sorted list of storage servers
  debug:
    msg: "{{ s.results | sort(attribute='msg') |map(attribute='item') |list | first }}"
  register: nfs_server
  no_log: true
  when: env != "local"

- name: Storage - client - Ensure gluster volumes are mounted
  mount:
    name: "{{ storage_client.mountpoint }}/{{ item }}"
    src: "{{ nfs_server }}:/{{ item }}"
    fstype: nfs
    opts: "defaults,_netdev,auto,fsc,relatime"
    state: mounted
  with_items: storage_client.volumes
  when: env != "local"
